/* 
    Document   : root style
    Created on : 28.05.2012
    Author     : vitalyd
    Description:
        Purpose of the stylesheet follows.
*/


@import url("bootstrap/bootstrap.min.css") all;
@import url("bootstrap/bootstrap-responsive.css") all;
@import url("bootstrap/docs.css") all; 

.navbar-fixed-top .brand {
  color: #fff;
  margin-right: 20px;
  margin-left: 0px;
  float: left;
}

#maincontent{
  padding-top:20px;
}

.form-search {
  padding: 0 10px;
}

.new-search {
  margin-top: .4em;
}

.subnav .nav > li > label, .subnav .nav .items li 
{
margin: 0;
padding-top: 11px;
padding-bottom: 11px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
font-weight: bold;
}
.subnav .nav ul.items {
 margin: 0 4px;
}
.subnav .nav ul.items li {
padding: 11px 4px;
}
.subnav .nav ul.items.tags li, .subnav .nav ul.items.searchstring li{
  padding: 11px 3px;
}
.subnav .nav ul.items.avatars li {
padding: 0 0px;
}
.subnav .nav ul.items.avatars li img{
  height: 36px;
  width: auto;
}
#sidebar ul.items.avatars li img, #sidebar ul.items_searched.avatars li img{
  height: 48px;
  width: auto;
}
.btn.new-twits {
  border: 0;
  color: #090;
  font-weight: bold; 
}

.i-container {
	display: inline-block;
	vertical-align: text-top;
	cursor: pointer;
}

.i-container .ui-icon-close, .i-container:hover .ui-icon-circle-close {
	display: block;
    width:  16px;
    height:  16px;
}

.i-container:hover .ui-icon-close, .i-container .ui-icon-circle-close {
	display: none;
    width:  16px;
    height:  16px;
}

.ui-state-default .ui-icon {
  background-image: url(img/ui-icons_b83400_256x240.png);
}
.ui-icon-close {
  background-position: -80px -128px;
}
.ui-icon-circle-close {
  background-position: -32px -192px;
}

.sign-twitter {
	background: transparent url(img/twitter_signin.png) no-repeat;
	background-position: 0 0;
	width: 150px;
	height: 22px;
	-webkit-transition: none;
}
.sign-twitter:hover {
	background-position: 0 -24px;
}
.sign-twitter:active {
	background-position: 0 -48px;
}

.avatar.little {
	width:22px;
	height:22px;
	margin: -10px 0;
}

.items li {
  float: left;
  display: inline-block;
}
.widget ul {
  margin-left: 0px;
}
.widget ul li{
  list-style: none;
  display: inline-block;
}

input.typebox {
  width: 100%;
}
.widget {
  margin-bottom: 20px;
}
.widget .primary {
  color: #08C;
}
.widget .secondary {
  color: #fff;
  background-color: #08C;
}

.widget ul li {
  cursor: pointer;
}
ul.items_searched.tags li, ul.items.tags li{
  margin: 2px;
}

div.avatar {
  text-align: center;
  padding-top: 10px;
}
div.avatar img{
  border:3px double #ddd;
}

span.parent-icon {
	background: transparent url(img/parent24.png) no-repeat -5px 5px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: inline-block;
}

.postdiv .user {
  color: #aaa;
  font-size: 18px;
  display: inline-block;
  font-weight: bold;
  line-height: 18px;
  text-shadow: 1px 1px 2px #fff, 2px 2px 0px #ddd;

}
.frame.expanded > .postdiv .user {
  color: #999;
  text-shadow: 1px 1px 2px #fff, 2px 2px 0px #ccc;

}

.postdiv .date {
  color: #888;
  display: inline-block;
  line-height: 18px;
}
.postdiv div.text {
  line-height: 140%;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
}

.postdiv {
  padding-bottom: 20px;
}

.postdiv ul {
  margin: 5px 0 10px;
}

.postdiv ul li {
  list-style: none;
  display: inline-block;
}

.childs_count_cont {
  text-align: center;
  padding-top: 10px;
}

.childs_count {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
	opacity: .4;
	-webkit-transition:opacity .5s ease-in-out .2s;  
}

.childs_count_cont:hover .childs_count {
	color: blue;
	cursor: pointer;
	opacity: 1;
}

.frame.expanded > .postdiv {
	background-color: #eee;
}
.frame.expanded > .postdiv:first-child {
	background-color: #def;
}
.frame > .postdiv .parent-icon {
	visibility: hidden;
}

.frame.expanded > .postdiv:first-child .parent-icon {
	visibility: visible;
}

.nocontent > * {
	display: none;
}


.dropdown-toggle {
  white-space: nowrap;
}


#searchbox {
  width: 133px;
}

input.typebox {
  width: 232px;
}

ul.items_searched.tags, ul.items.tags{
  width: 239px;
}

.frame.expanded > .postdiv:first-child  {
  padding-bottom: 0px;
}