/* 
    Document   : root style
    Created on : 28.05.2012
    Author     : vitalyd
    Description:
        Purpose of the stylesheet follows.
*/


@import url("bootstrap/bootstrap.min.css") all;
@import url("bootstrap/bootstrap-responsive.css") all;
