
<li>
<form class="navbar-form form-search">
  <input type="text" class="input-medium search-query" id="searchbox" name="searchString" type="search" value=""
         placeholder="SEARCH" title="Type fo search words" />
  <button type="submit" class="btn btn-primary new-search">Search</button>
</form>  
</li>
<li>
<label>for:</label>
</li>
<li>
<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">Strings <b class="caret"></b></a> -->
<ul class="items searchstring"></ul>
</li>
<li>
<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">Users <b class="caret"></b></a> -->
<ul class="items avatars"></ul>
</li>
<li>
<!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tags <b class="caret"></b></a> -->
<ul class="items tags"></ul>
</li>
<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="sorttype-selected"><%= sortType %></span><b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="#order-massively" class="sorttype-option" data-sorttype="massive">Sort by comments</a></li>
    <li><a href="#order-time" class="sorttype-option" data-sorttype="time">Sort by time</a></li>
  </ul>
</li>
<li class="" style="display: none;">
<a class="btn new-twits" href="#new-twits"> <span class="ntcount"></span> Newest tweets </a>
</li>
<li class="dropdown pull-right">
  <a class="dropdown-toggle start-new" data-toggle="dropdown" href="#start-new"><i class="icon-pencil"></i> Start new conversation <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li>
      <div id="scont" class="span9"></div>  
    </li>
  </ul>

</li>
<li class="with-tooltip pull-right" rel="tooltip" title="Link to conversation">
  <a id="frlink" href="<%= link %>"><i class="icon-share-alt"></i></a>
</li>

