
	<form class="postform" style="padding: 0 20px;">
		<fieldset>
<!--			<label for="postMessage" style="padding-top:0px;">
				<img class="avatar" src="<%= siteUser.avatarUrl %>" alt="<%= siteUser.id %>" title="<%= siteUser.name %>" />
			</label>-->
				
			<div class="input" style=" margin-left:80px;">
				<textarea class="xxlarge" id="postMessage" name="postMessage" rows="3" style="width: 450px; height: 2em;"><%= (user.id)?"@"+user.id:"" %> </textarea>
				<span class="help-block">
					Reply to active root post
				</span>
			</div>
			<div class="pull-right">
				<button type="reset" class="btn cancel" style="display: none">Cancel</button>
				&nbsp;<input type="submit" class="btn primary" value="Reply">
			</div>
		</fieldset>
	</form>
