<div class="span1 avatar">
	<img class="" src="<%= user.get('avatarUrl') %>" alt="<%= user.id %>" title="<%= user.get('name') %>" />
</div>
<div class="span9">
	<span class="parent-icon"></span>
	<span class="user" title="id: <%= user.id %>"><%= user.get('name') %></span> 
	<span class="date" title="<%= id %>:<%= pid %>"> / <%= createTime %></span>
<!--	<span><%= id %></span>-->
	<div class="text" title="text">
	<!--	<%= createTimestamp %>-->
		<%= id %>: <%= text %>
	</div>
	<h6 class="subinfio">
		<ul class="tags" title="tags"><% _.each(tags, function(tag) { %>
			<li><span title="<%= tag.get("name") %>" class="label label-info"><%= tag.get("name") %></span></li>
		<% }) %></ul> 
	</h6>
</div>
<div class="span2 childs_count_cont">
	<span class="childs_count"><%= childsCount %></span>
</div>
